<div class="holder">
  <div class="container">
    <p>Isabella 1</p>
    <app-weekday
      room="isabella1"
      isabella1Array="{{ isabella1 }}"
    ></app-weekday>

    <p>Isabella 2</p>
    <app-weekday room="isabella2"
    isabella2Array="{{ isabella2 }}"></app-weekday>

    <div class="arrows">
      <p><--- ---></p>
    </div>

    <div class="buttons">
      <div class="slider">
        <mat-slider min=".5" max="2" step=".5" showTickMarks discrete>
          <input matSliderThumb />
        </mat-slider>
        <p>Meeting length (hours)?</p>
      </div>

      <div class="confirm">
        <button class="btn btn-primary" (click)="getTimes()">Conf</button>
      </div>
    </div>
  </div>
</div>
