<div class="container">

  <p>Mon</p>
  <app-weekday></app-weekday>

  <p>Tue</p>
  <app-weekday></app-weekday>

  <p>Wed</p>
  <app-weekday></app-weekday>

  <p>Thurs</p>
  <app-weekday></app-weekday>

  <p>Fri</p>
  <app-weekday></app-weekday>

  <div class="arrows">
    <p><---   ---></p>
  </div>


  <div class="buttons">


    <div class="slider">
      <mat-slider min=".5" max="2" step=".5" showTickMarks discrete>
        <input matSliderThumb>
      </mat-slider>
      <p>Meeting length (hours)?</p>
    </div>

    <div class="confirm">
      <button>CONFIRM</button>
    </div>
  </div>

</div>
